<%= form_with model: article do |form| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %><br>
        <% @article.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body, size: "40x10" %><br>
        <% @article.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div >
        <%= form.submit 'Submit' %>
        <%= button_to "Cancel", articles_path %>
        <% if @article.persisted?%>
            <%= render "delete", article: @articles %>
        <% end %>
    </div>


<% end %>