<!DOCTYPE html>
<html>
  <head>
    <title>Blog Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <i class='bx bx-book-content'></i>
    <div class= header-links>
      <li>
        <%= link_to "Home", pages_path %>
      </li>
      <li>
        <%= link_to "Articles", articles_path %>
      </li>
      <li>
        <%= link_to "Contact Us!", new_contact_path %>
      </li>
    </div>
  

  </header>
  <body class="background">



      <%= yield %>
    <footer>
          <div class="footer-left footer">
            <h2> Contact Us</h2>
              <address class="address">
                100 Rockcrest Dr<br>
                Hammonds Plains, NS<br>
                B4B 1Y6
              </address>
          </div>
          <div class = "footer-middle footer">
          <h2> Say Hello </h2>


          </div>
          <div class="footer-right footer">
          <h2> Social Media </h2>
            <div class="socials">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-github'></i>
            <i class='bx bxl-linkedin'></i>
            <i class='bx bxl-youtube'></i>
            </div>
          </div>
    </footer>

  </body>


 
</html>
