<!DOCTYPE html>
<html>
  <head>
    <title>Blog Site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="background">
  <header>
<i class='bx bx-book-content'></i>
  <li>
    <%= link_to "Home", pages_path %>
    <%= link_to "Articles", articles_path %>
  </li>

  </header>

    <%= yield %>
  </body>
</html>
